<div class="home-container">

    <h1>"Empowering curiosity, one page at a time"</h1>

    <img src="assets/ReadingHall.jpg" alt="Library">
    <img src="assets/library.jpg" alt="Library">
    <img src="assets/library1.jpg" alt="Library">
    <img src="assets/library2.jpg" alt="Library">

    <div class="about-section">
        <h2>About Us</h2>

        <p><strong>Establishment:</strong> 15th May 1929</p>
        <p><strong>Total Area:</strong> 15,900 sq. ft.</p>
        <p><strong>Reading Hall:</strong> 6,500 sq. ft. / 400 students</p>
    </div>



    <div class="rules">
        <h2>Library Rules</h2>

        <ol>
            <li>The library is open to bonafide students only.</li>
            <li>Students must wear their identity card inside the library.</li>
            <li>Enter after registering in the gate register and punching ID card.</li>
            <li>Silence must be maintained at all times.</li>
            <li>Eatables are not allowed.</li>
            <li>Books from reading hall must be returned before leaving.</li>
            <li>Library is not responsible for personal belongings.</li>
            <li>Misbehavior may lead to strict disciplinary action.</li>
            <li>Photography and video recording are prohibited.</li>
            <li>Mobile phones must be switched off.</li>
            <li>Keep belongings at the counter (except valuables).</li>
            <li>Identity and library cards are non-transferable.</li>
            <li>Smoking and tobacco use are strictly prohibited.</li>
        </ol>
    </div>


</div>

<footer>
    <p>Address: Upskill Library, Mumbai, Maharashtra, India</p>
    <p>© 2026 Library Management System. All rights reserved.</p>
</footer>