@if(currentUser | async; as user){

@if(user.role === 'STUDENT'){
<h2>My Fines</h2>
@if(fines | async; as fineData){

@if(fineData.fines.length > 0){
<table>
    <thead>
        <tr>
            <th>Book</th>
            <th>Due Date</th>
            <th>Late Days</th>
            <th>Fine</th>
        </tr>
    </thead>
    <tbody>
        @for(fine of fineData.fines;track fine.borrowRecordId){
        <tr>
            <td>
                {{ fine.bookName }}
            </td>
            <td>
                {{ fine.dueDate }}
            </td>
            <td>
                {{ fine.daysLate }}
            </td>
            <td>
                ₹ {{ fine.fineAmount }}
            </td>
        </tr>
        }
    </tbody>
</table>

<button (click)="payFine(fineData.totalAmount)">
    Pay Full Fine
</button>
}

@else {
<p class="paid-status">
    No Pending Fines
</p>}

@if(summary | async; as summary){
<div>
    <h3>Summary</h3>
    <h3 [class.pending-fine]="fineData.totalAmount>0">
        Total Due:
        ₹ {{ fineData.totalAmount }}
    </h3>
    <p>
        Paid :
        ₹ {{ summary.paid }}
    </p>
</div>
}
}
}

@if(user.role === 'ADMIN'||user.role === 'LIBRARIAN'){
<h2>
    Student Fine Records
</h2>

<table>
    <thead>
        <tr>
            <th>Student</th>
            <th>Username</th>
            <th>Book</th>
            <th>Fine</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Paid Date</th>
        </tr>
    </thead>
    <tbody>

        @for(fine of allStudentFines | async;track fine.studentId){
        <tr>
            <td>
                {{ fine.studentName }}
            </td>
            <td>
                {{ fine.userName }}
            </td>
            <td>
                {{ fine.bookName }}
            </td>
            <td>
                ₹ {{ fine.fineAmount }}
            </td>
            <td>
                @if(fine.paid){
                <span>
                    Paid
                </span>
                }
                @else {
                <span class="pending">
                    Pending
                </span>
                }
            </td>
            <td>
                {{ fine.dueDate }}
            </td>
            <td>
                {{ fine.paidDate }}
            </td>
        </tr>
        }
    </tbody>
</table>
}
}