<div class="book-header">

    <h2>Books</h2>

    <div class="right-actions">

        <select [(ngModel)]="selectedCategory" (ngModelChange)="filterBooks()">
            <option value="ALL">All Categories</option>
            <option value="Computer Engineering">Computer</option>
            <option value="Mechanical Engineering">Mechanical</option>
            <option value="Electrical Engineering">Electrical</option>
            <option value="Electronics Engineering">Electronics</option>
            <option value="Mathematics">Mathematics</option>
        </select>

        <select [(ngModel)]="selectedStatus" (ngModelChange)="filterBooks()">
            <option value="ALL">All Status</option>
            <option value="true">Available</option>
            <option value="false">Not Available</option>
        </select>

        @if(currentUser | async; as user){

        @if(user.role === 'ADMIN' || user.role === 'LIBRARIAN'){
        <button class="add-book-btn" [routerLink]="['/addBook']">
            Add Book
        </button>
        }

        @if(user.role === 'STUDENT'){
        <button class="add-book-btn" routerLink="/myBorrowedBooks">
            My Borrowed Books
        </button>
        }
        }
    </div>
</div>


<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Status</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @for(book of filteredBooks ; track book.id){
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category }}</td>
            <td>
                @if(book.quantity > 0){
                <span>Available</span>
                }
                @else {
                <span class="not-available">Not Available</span>
                }
            </td>
            <td>{{ book.quantity }}</td>
            <td>
                <button [routerLink]="['/bookDetails'] " [state]="{book:book}">
                    View
                </button>
                @if(currentUser | async; as user){
                @if(user.role === 'ADMIN' || user.role === 'LIBRARIAN'){
                <button [routerLink]="['/updateBook']" [state]="{ book: book }">
                    Update
                </button>
                <button (click)="deleteBook(book.id)">
                    Delete
                </button>
                }
                @if(user.role === 'STUDENT'){
                @if( book.quantity>0){
                <button (click)="borrowBook(book.id)">
                    Borrow
                </button>
                }

                }
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="pagination">
    <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage===0">Previous</button>
    <span>Page {{currentPage+1}} of {{totalPages}}</span>
    <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage===totalPages-1">Next</button>
</div>