<div class="header-section">
  <h2>Students</h2>
  <select name="" id="" [(ngModel)]="selectedStatus" (change)="filterStudents()">
    <option value="ALL">All Students</option>
    <option value="APPROVED">Approved</option>
    <option value="PENDING">Pending</option>
    <option value="REJECTED">Rejected</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(student of filteredStudents ; track student.id){
    <tr>
      <td>
        {{ student.firstName }}
        {{ student.lastName }}
      </td>
      <td>{{ student.email }}</td>
      <td>{{student.userName}}</td>
      <td>{{ student.userStatus }}</td>
      <td>
        <button [routerLink]="['/studentDetail']" [state]="{student:student}">
          View
        </button>
        <button [routerLink]="['/updateStudent']" [state]="{student:student}">
          Update
        </button>
        <button (click)="deleteStudent(student.id)">
          Delete
        </button>
        @if(student.userStatus === 'PENDING'){
        <button (click)="approveStudent(student.id)">
          Approve
        </button>
        }
        @if(hasBorrowedBooks(student.id)){
        <button [routerLink]="['/studentBorrowHistory']" [state]="{ student: student }">
          Borrowed Books
        </button>
        }
      </td>
    </tr>
    }
  </tbody>
</table>