<div class="details-container">

    <h2>My Profile</h2>

    @if(currentUser$ | async; as user){

    <div>

        <p>
            <strong>First Name :</strong>
            {{ user.firstName }}
        </p>

        <p>
            <strong>Last Name :</strong>
            {{ user.lastName }}
        </p>

        <p>
            <strong>Email :</strong>
            {{ user.email }}
        </p>

        <p>
            <strong>Username :</strong>
            {{ user.userName }}
        </p>

        <p>
            <strong>Role :</strong>
            {{ user.role }}
        </p>

    </div>

    }

</div>