.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e293b;
    padding: 12px 24px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.logo a:hover {
    color: #3498db;
}


.logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}


.navlinks ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navlinks ul a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navlinks ul a:hover {
    color: #38bdf8;
}

.profile-section:hover {
    color: #38bdf8;
    cursor: pointer;
}