<div class="details-container">
    <h2>Student Details</h2>
    @if(student){
    <div>
        <p>
            <strong>First Name :</strong>
            {{ student.firstName }}
        </p>
        <p>
            <strong>Last Name :</strong>
            {{ student.lastName }}
        </p>
        <p>
            <strong>Email :</strong>
            {{ student.email }}
        </p>
        <p>
            <strong>Status :</strong>
            {{ student.userStatus }}
        </p>
    </div>
    }
</div>