
<div class="header-section">
    <button class="back-btn" (click)="goBack()">
        ⬅ Back 
    </button>
</div>

<div class="details-container">
    <h2>User Detail</h2>
    <p>
        <strong>First Name:</strong>
        {{ user.firstName }}
    </p>
    <p>
        <strong>Last Name:</strong>
        {{ user.lastName }}
    </p>
    <p>
        <strong>Email:</strong>
        {{ user.email }}
    </p>
    <p>
        <strong>Username:</strong>
        {{ user.userName }}
    </p>
    <p>
        <strong>Role:</strong>
        {{ user.role }}
    </p>
    <p>
        <strong>Status:</strong>
        {{ user.userStatus }}
    </p>
</div>