<div class="header-section">
    <h2>Users</h2>
    <select [(ngModel)]="selectedStatus" (change)="filterUsers()">
        <option value="ALL">All Users</option>
        <option value="APPROVED">Approved</option>
        <option value="PENDING">Pending</option>
        <option value="REJECTED">Rejected</option>
    </select>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for(user of filteredUsers ; track user.id){
        <tr>
            <td>
                {{ user.firstName }}
                {{ user.lastName }}
            </td>
            <td>
                {{ user.email }}
            </td>
            <td>
                {{ user.userName }}
            </td>
            <td>
                {{ user.role }}
            </td>
            <td>
                {{ user.userStatus }}
            </td>
            <td>
                <button [routerLink]="['/userDetails']" [state]="{ user: user }">
                    View
                </button>
                <button [routerLink]="['/updateUser']" [state]="{ user: user }">
                    Update
                </button>
                <button (click)="deleteUser(user.id)">
                    Delete
                </button>
                @if(user.userStatus === 'PENDING'){
                <button (click)="approveUser(user.id)">
                    Approve
                </button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>