<div class="signup-container">
    <form class="signup-form" (ngSubmit)="signup()">
        <h2>

            @if(isUpdateMode){

            {{ isUserUpdate ? 'Update User' : 'Update Student' }}

            }

            @else {

            Create Account

            }

        </h2>
        <div class="form-row">
            <div class="input-group">
                <label>First Name</label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="signupData.firstName" required>
            </div>
            <div class="input-group">
                <label>Last Name</label>
                <input type="text" id="lastName" name="lastName" [(ngModel)]="signupData.lastName" required>
            </div>
        </div>

        <div class="input-group">
            <label>User Name</label>
            <input type="text" id="userName" name="userName" [(ngModel)]="signupData.userName" required>
        </div>

        <div class="input-group">
            <label>Email</label>
            <input type="text" id="email" name="email" [(ngModel)]="signupData.email" required>
        </div>

        @if(!isUpdateMode){

        <div class="input-group">
            <label>Password</label>

            <input type="password" id="password" name="password" [(ngModel)]="signupData.password" required>
        </div>

        <div class="input-group">

            <label>Role</label>

            <select [(ngModel)]="signupData.role" name="userRole" id="role">

                <option value="LIBRARIAN">Librarian</option>
                <option value="ADMIN">Admin</option>
                <option value="STUDENT">Student</option>

            </select>

        </div>

        }

        <!-- @if (userRole === 'STUDENT') {
        <div class="input-group">
            <label>Student ID</label>
            <input type="text" id="studentId" name="studentId" [(ngModel)]="signupData.studentId" required />
        </div>
        } -->

        <button type="submit" class="signup-btn">

            {{ isUpdateMode ? 'Update Student' : 'Sign Up' }}

        </button>


    </form>
</div>